*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 10px;
    width: 100%;
}

header, nav, section, article, aside, footer{
    border: 1px solid black;
    overflow: hidden;
    margin: 5px;
}

.no-border{
    border: 0;
    text-align: left;
}

header{
    width: 100em;
    height: 15em;
    background-color: #fbd8bc;

}

.container{
    display: inline-block;
}

nav{
    width: 20em;
    height: 30em;
    background-color: #b7dde8;
    display: inline-block;
    margin-bottom: 76em;
}

section{
    background-color: #d8d8d8;
    width: 75em;
    padding: 5px;
}

article{
    background-color: #8db1e3;
    width: 40em;
    height: 45em;
    display: inline-block;
}

.aside-1-2{
    display: inline-block;
}

aside{
    background-color: #d99690;
    width: 20em;
    height: 20em;
}

footer{
    background-color: #d2d3ab;
    width: 100em;
    height: 15em;
}

.top-section{
    height: 65em;
}

.bottom-section{
    height: 40em;
}

.bottom-section aside{
    margin-left: 40em;
}
