*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

#container{
    width: 100vw;
    margin: auto;
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
}

header, footer{
    width: 100vw;
    height: 15vh;
    font-size: 25px;
    padding-top: 2.5vw;
}

header{
    background-color: #fbd8bc;
}

nav, .groupe-section, article, .groupe-aside{
    display: inline-block;
    overflow: hidden;
}

header, nav, section, article, aside, footer{
    border: solid 1px black;
}

nav{
    width: 15vw;
    height: 30vh;
    background-color: #b7dde8;
    margin-bottom: 76vh;
    margin-right: 1vw;
}

.groupe-section{
    width: 80vw;
}

.texte{
    border: 0;
    padding-left: 1vw;
    padding-top: 1vh;
    text-align: left;
    height: 10vh;
}

section{
    width: 80vw;
    margin-top: 1vh;
    padding: 5px;
    display: inline-block;
}

.top-section{
    height: 65vh;
    background-color: #696969;
}

.bottom-section{
    height: 40vh;
    background-color: dimgrey;
}

article {
    background-color: #8db1e3;
    width: 45vw;
    height: 45vh;
}

aside {
    background-color: #d99690;
    width: 30vw;
    height: 22vh;
}

aside+aside{
    margin-top: 1vh;
}

#bottom-aside{
    margin-left: 47vw;
}

footer{
    background-color: #d2d3ab;
}

@media screen and (max-width: 400px){
    nav{
        margin: 0;
        display: block;
        width: 100vw;
        height: 15vh;
    }

    .groupe-section, section{
        width: 100vw;
    }

    article{
        width: 60vw;
    }

    aside{
        width: 35vw;
    }

    #bottom-aside{
        margin-left: 62vw;
    }
}

